@use 'sass:map';
@use 'tokens';

// TODO: can remove these if removed from project
.border {
  border: map.get(tokens.$border-widths, thin) solid currentColor;
}

.rounded {
  border-radius: map.get(tokens.$border-radius, md);
}

// Width utilities
@each $name, $width in tokens.$border-widths {
  .border-#{$name} {
    border: var(--border-width-#{$name}) solid;
  }
}

// Side-specific width utilities
@each $abbr, $side in tokens.$border-sides {
  @each $name, $width in tokens.$border-widths {
    .border-#{$abbr}-#{$name} {
      border-#{$side}: var(--border-width-#{$name}) solid;
    }
  }
}

// Color utilities (uses your tokens.$colors map)
@each $name, $col in tokens.$colors {
  .border-color-#{$name} {
    border-color: var(--color-#{$name});
  }
}

// Radius utilities
@each $name, $radius in tokens.$border-radius {
  .rounded-#{$name} {
    border-radius: var(--border-radius-#{$name});
  }
}
