@use 'sass:map';
@use 'tokens';

@each $name, $col in tokens.$colors {
  .text-#{$name} {
    color: var(--color-#{$name});
  }

  .bg-#{$name} {
    background-color: var(--color-#{$name});
  }
}

// TODO: can replace with text-disabled in projects
.disabled {
  color: #bbb;
}
