$flex-directions: (row, row-reverse, column, column-reverse) !default;
$flex-wraps: (nowrap, wrap) !default;

@each $dir in $flex-directions {
  .flex.#{$dir} {
    flex-direction: $dir;
  }
}

@each $wrap in $flex-wraps {
  .flex.#{$wrap} {
    flex-wrap: $wrap;
  }
}

$align-items: (
  stretch: stretch,
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
) !default;
$align-self: (
  start: start,
  end: end,
) !default;
$align-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  space-between: space-between,
  space-around: space-around,
) !default;
$justify-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  space-between: space-between,
  space-around: space-around,
  space-evenly: space-evenly,
) !default;

@each $key, $val in $align-items {
  .items-#{$key} {
    align-items: $val;
  }
}

@each $key, $val in $align-self {
  .self-#{$key} {
    align-self: $val;
  }
}

@each $key, $val in $align-content {
  .content-#{$key} {
    align-content: $val;
  }
}

@each $key, $val in $justify-content {
  .justify-#{$key} {
    justify-content: $val;
  }
}

$flex-grow: (
  0: 0,
  1: 1,
  2: 2,
) !default;
$flex-shrink: (
  0: 0,
  1: 1,
  2: 2,
) !default;

@each $key, $val in $flex-grow {
  .flex-grow-#{$key} {
    flex-grow: $val; // no-flex-grow
  }
}

@each $key, $val in $flex-shrink {
  .flex-shrink-#{$key} {
    flex-shrink: $val; // no-flex-shrink
  }
}

// TODO: written in layout
// .flex {
//   display: flex;
// }

.flex-auto {
  flex: 1 1 auto;
}

.flex-unset {
  flex: unset;
}

.flex-1 {
  flex: 1; // custom-flex
}

.child-flex {
  > * {
    flex: 1 1 auto;
  }
}
